@import "global";

.stdout {
  width: 90%;
  background-color: #555;
  color: #efefef;
  padding: 8px;
  border-left: 10px solid green;
  font-family: "Lucida Console", Monaco, monospace;
}

.stderr {
  width: 90%;
  background-color: #555;
  color: #efefef;
  padding: 8px;
  border-left: 10px solid red;
  font-family: "Lucida Console", Monaco, monospace;
}

.processStatus {
  width: 90%;
  background-color: #555;
  color: #efefef;
  padding: 8px;
  border-left: 10px solid blue;
  font-family: "Lucida Console", Monaco, monospace;
}
