<div class="container">
  <app-numbered-headline
    number="1"
    headline="Drop Images and Upload"
    [isActive]="activeStep == 1"
  ></app-numbered-headline>
  <div
    class="drop-container"
    [class.drop-container---drag-over]="uiStateDragOver"
    [class.drop-container---drag-leave]="uiStateDragLeave"
    [class.drop-container---drag-drop]="uiStateDrop"
    (drop)="handleDrop($event)"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
  >
    <input
      type="file"
      multiple="multiple"
      (change)="handleFileChange($event)"
    >
  </div>
  <!-- ========== -->
  <app-numbered-headline
    number="2"
    headline="Compress and Download"
    [isActive]="activeStep == 2"
  ></app-numbered-headline>
  <table *ngIf="activeStep == 2" class="fileTable">
    <tr>
      <th>File</th>
      <th>Original Size</th>
      <th>Compressed Size</th>
      <th>Saving</th>
      <th>Download</th>
    </tr>
    <ng-container *ngFor="let imageCompressJob of imageCompressJobs">
      <tr>
        <td class="expandable" (click)="imageCompressJob.terminalLinesExpanded = !imageCompressJob.terminalLinesExpanded">
          <cloukit-icon
            style="height:24px"
            *ngIf="imageCompressJob.terminalLinesExpanded == true"
            foregroundIcon="chevronDown"
            foregroundIconColor="#777"
          ></cloukit-icon>
          <cloukit-icon
            style="height:24px"
            *ngIf="imageCompressJob.terminalLinesExpanded == false"
            foregroundIcon="chevronRight"
            foregroundIconColor="#777"
          ></cloukit-icon>
          <strong>{{imageCompressJob.originalFileName}}</strong>
        </td>
        <td>{{imageCompressJob.originalSize | fileSize}}</td>
        <td>{{imageCompressJob.compressedSize ? (imageCompressJob.compressedSize | fileSize) : '...'}}</td>
        <td>
          {{imageCompressJob.compressedSize ? (1 - (imageCompressJob.compressedSize / imageCompressJob.originalSize) | percent) : '...'}}
        </td>
        <td>
          <app-spinner *ngIf="imageCompressJob.serverError == null && !imageCompressJob.compressDone"></app-spinner>
          <span class="error" *ngIf="imageCompressJob.serverError != null">
            {{imageCompressJob.serverError}}
          </span>
          <a
            *ngIf="imageCompressJob.compressDone == true"
            [href]="getDownloadUrl(imageCompressJob)"
            (click)="imageCompressJob.downloadClicked = true"
            class="download"
            [class.download---clicked]="imageCompressJob.downloadClicked"
            download="download"
          >download</a>
        </td>
      </tr>
      <tr *ngIf="imageCompressJob.terminalLinesExpanded == true">
        <td colspan="5" class="terminal-line-td">
          <app-terminal-output
            *ngIf="imageCompressJob.serverError == null"
            [temporaryFileName]="imageCompressJob.temporaryFileName"
            [originalFileName]="imageCompressJob.originalFileName"
            [lines]="imageCompressJob.terminalLines"
          ></app-terminal-output>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
